MONGODB_URI=mongodb+srv://infoprintox_db_user:F7fVtxe0Y7Mfjn4w@cluster0.ydfyxur.mongodb.net/?appName=Cluster0
MONGODB_DB=visitinglink

ADMIN_PASSWORD=change-this-password
SESSION_SECRET=use-a-long-random-secret
VL_LOG_LEVEL=info
VL_LOG_FORMAT=pretty
NEXT_PUBLIC_VL_API_LOGS=false

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=visitinglink/profiles
